@import url("./constants.scss");

.post-it {
  width: 100%;
  min-height: 200px;
  background: var(--notes-bg);
  overflow: hidden;
  padding: 20px;
  border-radius: 0 0 0 30px/45px;
  box-shadow: var(--notes-box-shadow);
  font-family: "Edu AU VIC WA NT Pre", cursive;
  line-height: 1.7em;
  font-size: 19px;
  outline: none;
  color: var(--notes-color);
  font-size: 24px;
}
