@import url("./styles/constants.scss");

.App {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.flex-div {
  display: flex;
  align-items: center;
}

.input-hidden {
  display: none;
}

.btn {
  color: var(--btn-color) !important;
  background-color: var(--btn-bg) !important;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.btn:hover,
.btn:active {
  background-color: var(--btn-bg) !important;
  color: var(--btn-color) !important;
}

.MuiButton-startIcon {
  margin: 0 !important;
}

.link {
  color: var(--link-color);
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px 5px;
  font-weight: 600;
}

.approve-link {
  background-color: #90c8ac;
  color: #153525;
}

.reject-link {
  background-color: #ff9494;
  color: #851e1e;
}

.MuiListItemText-secondary {
  text-align: right !important;
}

.p-icon-field {
  width: 100% !important;
}

.p-input-icon {
  top: 30% !important;
  margin: 0 !important;
}

.p-password {
  width: 100% !important;
}
.p-inputtext,
.p-password-input {
  height: 45px !important;
  width: 100% !important;
  padding: 10px !important;
  margin: 5px 0 !important;
  background-color: transparent !important;
  color: #888888 !important;
}

.p-inputtext::placeholder,
.p-password-input::placeholder {
  color: #888888 !important;
}

.p-error {
  color: #f15c6d !important;
}

.MuiSlider-root {
  width: 400px !important;
  height: 2px !important;
  margin-left: 30px !important;
  color: var(--link-color) !important;
}

.MuiFormControl-root {
  width: 100% !important;
}

// Hide invalid date picker values
ul {
  .Mui-disabled {
    display: none !important;
  }
}

// Alert
.MuiAlert-root {
  position: absolute;
  z-index: 99999 !important;
  top: 15px !important;
  right: 80px !important;
  bottom: auto !important;
  width: 400px;
}

// Grid
.MuiGrid2-direction-xs-row {
  margin-bottom: 5px !important;
}
